.mdl-grid {
  margin-top: 124px;
}

#viewMoreBtn {
  width: 320px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#infoText {
  text-align: center;
}

#filterBtn {
  position: fixed;
  bottom: 64px;
  right: 64px;
  z-index: -1;
}